on fs
    mkdir /config
    mount configfs none /config

on post-fs
    # USB Vendor ID for Samsung Electronics
    setprop vendor.usb.vid "0x04E8"

    # Creating the main gadget
    mkdir /config/usb_gadget/g1 0770 shell shell    

    # Setting it up
    write /config/usb_gadget/g1/idVendor ${vendor.usb.vid}
    write /config/usb_gadget/g1/bcdDevice 0x0223

    # This is the USB 2.0 Standards
    write /config/usb_gadget/g1/bcdUSB 0x0200

    # 0x409 = English (United States)
    mkdir /config/usb_gadget/g1/strings/0x409 0770
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /config/usb_gadget/g1/strings/0x409/manufacturer "SAMSUNG"
    write /config/usb_gadget/g1/strings/0x409/product "SAMSUNG_Android"

    mkdir /config/usb_gadget/g1/configs/b.1
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409

    # Begin creating functions

    # adb function
    mkdir /config/usb_gadget/g1/functions/ffs.adb 0770 shell shell
    mkdir /dev/usb-ffs 0775 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb rmode=0770,fmode=0660,uid=2000,gid=2000,no_disconnect=1
    mkdir /config/usb_gadget/g1/functions/ss_mon.etc

    # mtp function
    mkdir /config/usb_gadget/g1/functions/ffs.mtp
    mkdir /config/usb_gadget/g1/functions/ss_mon.mtp
    mkdir /dev/usb-ffs/mtp 0770 mtp mtp
    write /config/usb_gadget/g1/functions/ffs.mtp/os_desc/interface.MTP/compatible_id "MTP"
    mount functionfs mtp /dev/usb-ffs/mtp rmode=0770,fmode=0660,uid=1024,gid=1024,no_disconnect=1

on boot
    # Enable USB gadget configfs
    setprop sys.usb.configfs 2
    
    # Set USB controller device node
    setprop sys.usb.controller "musb-hdrc"
    setprop vendor.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0

    # MTP tuning
    write /sys/class/android_usb/android0/f_mtp/cpu_mask 0x80
    write /sys/module/usb_f_mtp/parameters/mtp_rx_cont 1
    chmod 0664 /sys/class/android_usb/android0/iSerial
    chown root system /sys/class/android_usb/android0/iSerial
